<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="s.css">
<script type="text/javascript" src='j.js'></script>
<div class="container">
	<div class="row column column-1">
		<div class="item col-md-3">10</div>
		<div class="item col-md-3">20</div>
		<div class="item col-md-3">31</div>
		<div class="item col-md-3">41</div>
	</div>	
	<div class="row column column-2">
		<div class="item col-md-3">5</div>
		<div class="item col-md-3">6</div>
		<div class="item col-md-3">7</div>
		<div class="item col-md-3">8</div>
	</div>
</div>
